@import "../styles/tokens.scss";

.posts {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  h2 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
}

.card {
  cursor: pointer;
}

.iconWrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
